*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-color:#4c5d72;
  font-family:Arial, Helvetica, sans-serif;
}

.whole-shopping-cart{
  width:90%;
  margin:auto;
}


.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
 
  padding:15px 0;
}
.shopping-bucket{
  position: relative;
}
.navbar .tot-order{
 position: absolute;
    top: -8px;
    right: 0px;
    padding: 3px 7px;
    font-size: 15px;
    color:white;
    font-weight: bold;
    border-radius: 50%;
    background: red;
}
   
.navbar h1{
  color:white;
}
.shopping-logo{
    width: 100px;
    border-radius: 50px;
    border: 2px solid #06b3ff;
}

.navbar .fa-solid{
  color:white;
  font-size:20px;
  width:50px;
  height:50px;
  border:2px solid #06b3ff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.shopping-cart{
    display: flex;
    margin-top: 35px;
   
}
.shopping-cart .child-one{
    flex: 1;
    display: flex;
  
}
.child-one img{
    width:60%;
    height:70vh;
    object-fit: cover;
    background: grey;
    margin:10px auto;
    border-radius: 10px;
}
.shopping-cart .child-two{
    flex: 1;
    padding-top: 20px;
}
.size-box{ 
    width: 50px;
    height: 50px;
    font-size: 18px;
    background:#80808047;
    border-radius: 5px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #80808047;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
}
.size-box:hover{
background: grey;
transition: 0.3s ease-in-out;
}
.selected-img{
  width:80px;
  height:80px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 10px;
}
.selected-img img{
  width:100%;
  height:90px;
  border-radius:10px;
  border:2px solid white;
}
.add-to-cart{
  width:180px;
  height:50px;
  background-color:#e94d09;
  color:white;
  font-size: 20px;
  border-radius:3px;
  border:2px solid #fc9d73;
}
.add-to-cart:hover{
  background-color:#fc9d73;
  transition: 0.3s ease-in-out;
  color:black;
}

@media screen and (max-width: 990px) {
  .shopping-cart{
    flex-direction: column;
  }

  .child-one img{
    width: 100%;
    height: 50vh;
  }

  .shopping-cart .child-two{
    padding-top: 15px;
    text-align: center;
  }

  .size-box{
    margin: 5px auto;
  }

  .selected-img{
    width: 60px;
    height: 60px;
  }

  .selected-img img{
    height: 60px;
  }
  .star-responsive{
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .navbar h1{
    font-size: 18px;
  }

  .add-to-cart{
    width: 100%;
    height: 45px;
  }

  .child-one img{
    height: 40vh;
  }
    .star-responsive{
    display: flex;
    justify-content: center;
  }
}


