body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  background:rgb(166, 167, 164);
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}
h2 {
  font-size: 18px;
  margin: 10px 0;
}


.clothes_accessories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  background:#f2f2f2;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}



.price {
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.category {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.rating {
  margin: 10px 0;
  font-size: 15px;
  color: #444;
}
